
<div class="main-nav">
  <div *ngFor="let rootMenu of menu; let j = index">
  <span style="margin: 5px 0px 0px 5px;"> {{rootMenu.label}}</span>
  <div class="nav-card collapsed" *ngFor="let subMenuItem of rootMenu.childs; let i = index" data-toggle="collapse"
    [attr.data-target]="'#subMenuTarget'+j+i">
    <span>
      <label [ngClass]="subMenuItem.icon"></label> {{subMenuItem.label}}
    </span>
    <ul class="nav-sub-menu collapse" id="subMenuTarget{{j}}{{i}}" *ngFor="let subMenu of subMenuItem.childs">
      <li>
        {{subMenu.label}}
      </li>
    </ul>
  </div>
  </div>
</div>