.main-nav {
  background: whitesmoke;
  height: 1200px;
}

ul {
  list-style-type: none;
}

.root-menu-label {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px 0px 5px;
}

.nav-card {
  position: relative;
  transition: 0.3s;
  padding-left: 10px;
  font-size: 18px;
}

.nav-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.glyphicon {
  color: black;
  line-height: unset !important;
}

.nav-sub-menu:hover {
  color: black;
}

.menu-active-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nav-card[data-toggle="collapse"]:after {
  content: "";
  background-image: url("../../../assets/images/down-arrow.png");
  background-size: 100%;
  background-repeat: no-repeat, repeat;
  height: 24px;
  width: 14px;
  margin-right: 5px;
  position: absolute;
  color: #000000;
  font-size: 12px;
  line-height: 12px;
  right: 15px;
  top: 2px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav-card[data-toggle="collapse"].collapsed:after {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

a:link {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
// .rounter-link-custom {
//   text-decoration: underline;
// }