.btn-custom {  
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
 }
.btn-custom:hover {
   background-color: #000;
   border-color: #fff;
   color: #333333;
}
// ul {
//    list-style: circle;
// }
// li {
//    margin-left: 20px;
// }

aside {
   width: 30%;
   float: left;
   background-color: lightgray;
 }