.btn-custom {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
}
.btn-custom:hover {
  background-color: #000;
  border-color: #fff;
  color: #333333;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;

  max-height:max-content;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu right right right right right"
}